.camera {
  display: flex;
  align-items: center;
  justify-content: center;
}
#canvas {
  position: absolute;
  width: 180px;
  height: 320px;
}
#video {
  width: 180px;
  height: 320px;
}
.emotion-alert {
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
}
.emoji {
  font-size: 4em;
  text-align: center;
}
.emotion-chart {
  position: absolute;
  top: 0px;
  right: 0px;
}
.app-container {
  margin-top: 50px;
}
body {
  background: #fff;
  padding-top: 30px;
  font-family: $font-family;
  font-weight: 200;
}
