.camera {
  display: flex;
  align-items: center;
  justify-content: center;
}
#canvas {
  position: absolute;
}
.laughing {
  font-size: 4em;
  text-align: center;
}
.emotion-chart {
  position: absolute;
  top: 0px;
  right: 0px;
}